*
{
  margin:0;
  padding:0;
}

html,body,#main
{
  background:#000 repeat center fixed;
  color:#000;
  width:100%;
  height:100%;
  right:0%;
}

text
{
letter-spacing: -0.08em;
text-align: right;
font-family:Helvetica;
}

#main
{
  top:1em;
  position:absolute;
  color:#000;
  background:transparent;
}


#background{position:absolute; z-index:0; height:100%;top:0;left:0;}
#background_xy{position:absolute; z-index:0; height:100%;width:100%;top:0;left:0;}

#content .pback {
	position:relative;
	border:solid #040;
	border-width:1px 1px 1px 1px;
	background: #000;
	height:100%;
	min-height:23em;
}

#lightswitch {
	position:relative;
	width:50%;
	left:350px;
}

#header {
	position:relative;
	width:100%;
	top:1em;
}
button {
	width: 80%;
	height: 20%;
	font-size: 500%;
}

a{color: black !important;}


